.about {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
}

.lorem {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

.container {
  max-width: 50%;
  padding-top: 10px;
  margin: auto;
}
