<h1 class="create">Buy Product</h1>

<form
  [formGroup]="createForm"
  (ngSubmit)="onSubmit(createForm)"
  novalidate
  action="/"
  method="POST"
>
  <div class="form">
    <tui-input formControlName="name">
      Name
      <input tuiTextfield type="text" />
    </tui-input>
    <div
      class="error"
      *ngIf="
        createForm.get('name')?.invalid &&
        (createForm.get('name')?.dirty || createForm.get('name')?.touched)
      "
    >
      Please provide your name.
    </div>
  </div>
  <div class="form">
    <tui-input formControlName="email">
      Email
      <input tuiTextfield type="email" />
    </tui-input>
    <div
      class="error"
      *ngIf="
        createForm.get('email')?.invalid &&
        (createForm.get('email')?.dirty || createForm.get('email')?.touched)
      "
    >
      Please provide a valid email.
    </div>
  </div>
  <div class="form">
    <tui-input-number formControlName="phone"> Phone Number </tui-input-number>
    <div
      class="error"
      *ngIf="
        createForm.get('phone')?.invalid &&
        (createForm.get('phone')?.dirty || createForm.get('phone')?.touched)
      "
    >
      Please provide your phone number :))).
    </div>
  </div>
  <div class="form">
    <tui-textarea formControlName="address"> Address </tui-textarea>
    <div
      class="error"
      *ngIf="
        createForm.get('address')?.invalid &&
        (createForm.get('address')?.dirty || createForm.get('address')?.touched)
      "
    >
      Please provide your address.
    </div>
  </div>

  <div class="price">
    <h1>Price: ${{ id }}</h1>
    <h1>GST: ${{ gst }}</h1>
    <h1>Total Price: ${{ final }}</h1>
  </div>
  <button
    class="form1"
    appearance="accent"
    tuiButton
    type="submit"
    [disabled]="!createForm.valid"
  >
    Buy
  </button>
</form>
