.form {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
}

.create {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
}

.form1 {
  text-align: center;
  font-weight: bold;
  margin: auto;
  display: flex;
}

.error {
  color: red;
  padding-top: 10px;
}

.price {
  text-align: center;
  margin: 20px;
}
