<div class="label">
  <h1>Average Website</h1>
</div>

<tui-tabs-with-more class="table">
  <button *tuiItem tuiTab routerLink="" routerLinkActive>Home</button>
  <button *tuiItem tuiTab routerLink="about" routerLinkActive>About</button>
  <button *tuiItem tuiTab routerLink="create" routerLinkActive>Create</button>
  <button *tuiItem tuiTab routerLink="contact" routerLinkActive>Contact</button>
  <button *tuiItem tuiTab routerLink="{{ link }}" routerLinkActive>
    {{ text }}
  </button>
</tui-tabs-with-more>
<router-outlet></router-outlet>
