.label {
  width: 100%;
  background-color: orange;
  text-align: center;
  margin: 0;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label h1 {
  margin: 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.table button {
  padding: 5px;
}

.nav {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
